<ion-view view-title="主页">
  <ion-content >
	 
    <div class="row">
        <div class="col">
        <button class="button button-outline button-block button-light">
          <i class="icon ion-star"></i>
			<span class="text-primary font-bold">{{reg.student.name}}</span>
        </button>
        </div>
        <div class="col">
            <button class="button button-block button-light">
				{{reg.specialty.name}}
        </button>
        </div>
        <div class="col">
            <button class="button button-block button-light">
          网上报名
        </button>
        </div>
    </div>
    <div class="list card box-shadow-lg">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
